*{
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.parallax{
  display: flex;
  justify-content: center ;
  align-items: center;
  width: 100%;
  height: 30vh;
  background: url("/parallax/about-img.jpg");
  background-attachment: fixed ;
  background-size: contain;
  background-repeat: no-repeat;
  
}
.two{
  /*display: flex;
  justify-content: center ;
  align-items: center;*/
  width: 100%;
  height:50vh;
  background: url("/parallax/g2.jpg");
  background-attachment:fixed ;
  background-size: contain;
  background-repeat: no-repeat;
}